// Index hero bg

.index-hero-bg {
  background-image: url(../assets/hero-bg.svg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: auto;
}

.wavy-pink-bg {
  background-image: url(../assets/wavy-section-bg.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}
